* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.todo-container {
  width: 100%;
  max-width: 540px;
  background: #fff;
  margin: 100px auto 20px;
  padding: 40px 30px 70px;
  border-radius: 10px;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.todo-container h3 {
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.form-container input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
}
button {
  border: none;
  outline: none;
  padding: 16px 50px;
  background: #131313;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 40px;
}
ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 5px;
  user-select: none;
  position: relative;
}
.checked {
  text-decoration: line-through;
  color: #002765;
  accent-color: #002765;
}

ul li input {
  height: 10px;
  width: 25px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li .delete-btn-style {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}
ul li .delete-btn-style:hover {
  background: #edeef0;
}

ul li .text-style {
  font-size: 15px;
}
